<h1> Here are all the workouts you can choose from Fanatic. Begin your workout at your own risk! </h1>
  <h2> Workout Fanatics Exercises </h2>
 <ul>
    <% @muscles.each do |muscle| %>
    <li><a href=/workouts/<%= muscle %>> <%= muscle %> </a></li>
    <% end %>
</ul>

<button type="button"><a href="/logout">Logout<a></button>

<p> Create Your Own <a href="/workouts/new"> Workout</a></p><br></br>

<p>View all the workouts you've posted <a href="/users/<%= current_user.username %>"> here</a></p> 
