<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h1> Welcome to the Signup Page, you are just one step closer to accessing workouts that will leave you pumped all day long!</h1>

<form method="POST" action="/signup">

  <input type="text" placeholder="Username:" name="username"><br></br>
  <input type="text" placeholder="Email:" name="email"><br></br>
  <input type="text" placeholder="Password:" name="password"><br></br>

  <input type="submit" value="Create Account">
</form>

<p> By creating an account you adhere to all terms and conditions set forth in the Terms and Conditions</p>

<p> Already have an account? Well? What are you doing here Workout Fanatic? Click <a href="/login">here</a> to Login!
