<label><a href="/login">Login</a></label> <label><a href="/signup">Sign Up</a></label>

<h1> Welcome to Workout Fanatics! </h1>

<p> Here at Workout Fanatics, our goal is to make sure you are up to date with all the latest workouts. Workout routines are posted daily by some of the most
  recognized bodybuilders, along with amateur fitness fanatics. Here you can post workout routines that have worked for yourself and others.<p>
